name: Terraform deploy

on: 
    workflow_dispatch:

permissions:
  contents: read
  id-token: write 
  
jobs:
    deploy:
        name: Deploy-Infra
        runs-on: ubuntu-latest

        env:
            aws_region: eu-north-1
            work_dir: env/dev

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: arn:aws:iam::354918411148:role/github-actions-role
                aws-region: ${{env.aws_region}}

            - name: Setup terraform
              uses: hashicorp/setup-terraform@v3
              with:
                terraform_version: 1.8.5
              
            - name: Initialize terraform
              working-directory: ${{env.work_dir}}
              run: terraform init

            - name: Terraform plan
              working-directory: ${{env.work_dir}}
              run: terraform plan -no-color -out=tfplan

            - name: Terraform apply
              working-directory: ${{env.work_dir}}
              run: terraform apply -auto-approve  
